
.status-label-row {
  float: left;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #050;
  padding: 5px 10px;
}

.status-label-row .row {
  margin-left: 0;
  margin-right: 0;
}

.status-label-row .status-row {
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-large;
}

.control-buttons {
  float: right;
  text-align: right;
  height: 60px;
  margin: 5px 10px;
  width: calc(100% - 270px);
}

.control-buttons .btn {
  height: 60px;
  margin-left: 10px;
  font-size: large;
}

.control-buttons .btn:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .status-label-row {
    float: none;
    width: auto;
  }

  .control-buttons {
    float: none;
    width: auto;
    text-align: center;
    margin-top: 20px;
  }
}
