.status-label-row.labeled-info-row {
  float: left;
  width: 200px;
  border: 2px solid green;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #050;
}

.status-label-row.waiting .info-row,
.status-label-row.preparing .info-row,
.status-label-row.restoring .info-row,
.status-label-row.prepared .info-row {
  color: blue;
}

.status-label-row.running .info-row {
  color: green;
}

.status-label-row.pausing .info-row,
.status-label-row.paused .info-row,
.status-label-row.saving .info-row {
  color: #556B2F;
}

.status-label-row.stopping .info-row,
.status-label-row.stopped .info-row {
  color: #8B0000;
}

.control-buttons {
  float: right;
  text-align: right;
  height: 60px;
  margin: 5px 10px;
  width: calc(100% - 270px);
}

.control-buttons .btn {
  height: 60px;
  margin-left: 10px;
  font-size: large;
}

.control-buttons .btn:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .status-label-row {
    float: none;
    width: auto;
  }

  .control-buttons {
    float: none;
    width: auto;
    text-align: center;
    margin-top: 20px;
  }
}
