html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panel {
  width: calc(100% - 60px);
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.row {
  text-align: left;
}

.row .control-label {
  margin-top: 5px;
}

.row .radio,
.row .react-numeric-input,
.row .checkbox {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.row .react-numeric-input {
  margin-right: 10px;
}

.row .radio label,
.row .checkbox label {
  min-width: 90px;
  font-weight: 700;
}

.labeled-info-row {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 10px;
}

.labeled-info-row .row {
  margin-left: 0;
  margin-right: 0;
}

.labeled-info-row .info-row {
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-large;
  text-transform: capitalize;
}

.react-bs-table {
  background-color: white;
}
